/* ==========================================
  0.0   |   IMPORTS & VARIABLES
============================================= */
@import url("reset.css");
@import url("font.css");

@property --progress-value {
  syntax: "<integer>";
  inherits: true;
  initial-value: 0;
}

:root {
  --color-light: #fff;
  --color-default: #212529;
  --color-black: #000;
  --color-grey: #515151;
  --color-lightgrey: #ccc;
  --color-red: #c80000;

  --bg-main: #f9f9f9;

  --font-sans: "Poppins", sans-serif;
  --font-size-normal: 1.6rem;
  --font-size-title: 5rem;
  --font-size-subtitle: 9rem;

  --font-size-tiny: 1rem;
  --font-size-small: 1.4rem;
  --font-size-big: 2rem;
  --font-size-bigger: 3rem;

  --font-bold: 700;

  --gutter-default: 3rem;
  --gutter-small: 1rem;
  --gutter-big: 5rem;
  --spacing-small: 1px;

  --progress-bar-color: #fff;
  --progress-value-color: #2196f3;
  --progress-empty-color-h: 4.1;
  --progress-empty-color-s: 89.6;
  --progress-empty-color-l: 58.4;
  --progress-filled-color-h: 122.4;
  --progress-filled-color-s: 39.4;
  --progress-filled-color-l: 49.2;
}

/* ==========================================
  1.0   |   GLOBAL STYLE
============================================= */
body {
  font-family: "Poppins", sans-serif;
  min-height: 100vh;
  overflow-y: scroll;
}

p,
label,
input {
  font-size: var(--font-size-black);
}

h2, h3 {
  color: var(--color-default);
}

legend {
  color: var(--color-grey);
  font-weight: var(--font-bold);
  font-size: var(--font-size-bigger);
}

.main {
  flex-grow: 1;
  background-color: var(--bg-main);
  margin-top: -70px;
}

.page {
  min-height: 100vh;
}

p {
  font-size: var(--font-size-big);
}

.page__wrapper,
.content__wrapper {
  width: 80%;
  margin: 0 auto;
}

.page__wrapper {
  padding: 10rem 0 20rem 0;
}

.page__content {
  margin-top: 15rem;
}

.page__content:first-child {
  margin-top: 0;
}

.page__title {
  font-size: var(--font-size-title);
  text-align: right;
  text-transform: capitalize;
}

.page__title--variant {
  text-align: left;
  text-transform: uppercase;
  font-weight: var(--font-bold);
  width: 90%;
  margin: 8rem auto 3rem auto;
  border-bottom: 5px double black;
}

.page__title--variant:nth-last-of-type(1) {
  text-align: right;
}

.page__content-title {
  font-size: var(--font-size-title);
  letter-spacing: -3px;
  width: 100%;
  margin-bottom: 3rem;
  text-transform: uppercase;
}

.page__content-subtitle {
  font-size: var(--font-size-subtitle);
  letter-spacing: -7px;
  width: 100%;
}

.page__title span {
  position: relative;
}

.page__content-text {
  color: var(--color-default);
  text-align: justify;
  width: 75%;
  line-height: 3.5rem;
  padding-top: 5rem;
}

.content__wrapper {
  padding: 10rem 0;
}

.arrow {
  border: solid var(--color-black);
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 4px;
}

.dot {
  border: solid var(--color-red);
  border-width: 0 11px 11px 0;
  display: inline-block;
  position: absolute;
  transform: rotate(45deg);
  z-index: 1;
}

.list {
  width: 90%;
  margin: 0 auto;
}

.list__item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 3rem;
  align-items: center;
}

/* === HEADER === */
.header {
  /* background-color: rgba(255, 255, 255, 0.137); */
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 70px;
  position: sticky;
  top: 0;
  z-index: 420;
  /* box-shadow: 0 3px 8px -4px rgb(80, 80, 80); */
  font-size: var(--font-size-normal);
  color: var(--color-light);
}

.header__lefty {
  display: flex;
  flex-direction: column;
}

.header__title {
  font-size: var(--font-size-small);
  cursor: pointer;
  font-weight: 700;
  letter-spacing: 1px;
}

.header__subtitle {
  font-size: var(--font-size-small);
  letter-spacing: 0.5px;
  padding: 0.5rem 0 0 1rem;
}

.header__nav,
.nav__list,
.nav__item {
  height: 100%;
}

/* === NAV BAR === */
.mobile__nav {
  display: none;
  background-image: url(../img/menu.png);
  height: 21px;
  width: 30px;
}

.header__nav {
  text-transform: capitalize;
}

.nav__list {
  display: flex;
}

.nav__item:last-child {
  padding: 15px 0 15px 15px;
}

.nav__link,
.nav__link-sub {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 130px;
  font-weight: 600;
}

.nav__link--active::after {
  content: "•";
  position: absolute;
  top: 40px;
  color: var(--color-black);
}

.nav__link--active {
  font-weight: var(--font-bold);
  color: black;
  background-color: var(--color-lightest);
}

.nav__link:hover {
  background-color: var(--color-lightest);
  color: var(--color-red);
  font-weight: var(--font-bold);
}

.nav__link:hover::after {
  content: "-";
  position: absolute;
  top: 40px;
  color: var(--color-light);
}

/* === BUTTON NAV === */
.sublist__nav {
  display: none;
}

.header__subnav {
  background-color: rgba(255, 255, 255, 0.432);
  color: var(--color-black);
  border-radius: 2px;
}

.nav__link-sub {
  cursor: crosshair;
}

.nav__link-sub:hover {
}

/* === FOOTER === */
.footer {
  width: 100%;
  background-color: var(--color-grey);
  letter-spacing: var(--spacing-small);
  color: var(--color-lightest);
  text-align: center;
  padding: var(--gutter-small) 0;
}

/* ==========================================
  2.0   |   HOME PAGE STYLE
============================================= */
.page-home {
  height: 100vh;
  text-transform: capitalize;
  letter-spacing: 0.1rem;
  background: rgb(251, 63, 105);
  background: radial-gradient(
    circle,
    rgba(251, 63, 105, 1) 0%,
    rgba(255, 182, 198, 1) 100%
  );
}

.home__wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
  height: inherit;
}

.home__title,
.home__description {
  color: var(--color-light);
}

.home__title {
  font-size: 6rem;
  padding-bottom: var(--gutter-default);
}

.home__description {
  display: flex;
  align-items: center;
  flex-direction: column;
  line-height: 4rem;
}

.home__button {
  background-color: var(--color-light);
  color: var(--color-black);
  font-size: var(--font-size-big);
  padding: 1.5rem 3rem;
  margin-top: var(--gutter-default);
  border-radius: 2px;
  line-height: var(--font-size-normal);
  text-transform: capitalize;
  border: 3px solid var(--color-black);
}

.home__button:hover {
  border: 3px solid var(--color-light);
  background-color: var(--color-black);
  color: var(--color-light);
}

.home__button-arrow {
  transform: rotate(-45deg);
}

.home__button:hover .home__button-arrow {
  border: solid var(--color-red);
  transform: rotate(0);
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 4px;
}

/* ==========================================
  2.0   |   ABOUT ME PAGE STYLE
============================================= */
.page-aboutme {
  background: rgb(255, 214, 214);
}

.page__content-lefty {
  text-align: left;
}

.page__content-lefty:last-child {
  border: 4px dotted var(--color-light);
  padding: var(--gutter-big);
}

.page__content-lefty .page__content-text {
  margin: 0 0 0 auto;
}

.page__content-righty {
  text-align: right;
}

.page__content-righty .page__content-text {
  margin: 0 auto 0 0;
}

.page-aboutme .page__title span {
  left: -9px;
  top: 1px;
}

/* ==========================================
  2.0   |   REALISATIONS PAGE STYLE
============================================= */
.page-real {
  background: rgb(230, 226, 226);
}

.page-real .page__title span {
  left: -10px;
  top: 3px;
}

/* ==========================================
  2.0   |   PARCOURS PAGE STYLE
============================================= */
.content__wrapper-parcours {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--color-default);
}

.parcours__years {
  padding-right: 6rem;
}

.parcours__year {
  align-items: flex-end;
}

.parcours__places {
  border-left: 3px solid black;
  padding-left: 6rem;
  font-size: var(--font-size-bigger);
  position: relative;
}

.parcours__place-title--variant {
  color: var(--color-red);
}

.parcours__step {
  height: 55px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 5rem 0 8rem 0;
  text-transform: capitalize;
}

.parcours__place-title {
  font-weight: var(--font-bold);
  display: block;
  letter-spacing: 1px;
}

.parcours__place-subtitle {
  font-style: italic;
}

.parcours__place-subtitle--variant {
  font-size: var(--font-size-small);
}

.parcours__places-arrow {
  position: relative;
  transform: rotate(45deg);
}

.parcours__dot {
  left: -7px;
}

.parcours__dot:nth-of-type(1) {
  top: 74px;
}

.parcours__dot:nth-of-type(2) {
  top: 209px;
}

.parcours__dot:nth-of-type(3) {
  top: 347px;
}

.parcours__dot:nth-of-type(4) {
  top: 481px;
}

.parcours__dot:nth-of-type(5) {
  top: 614px;
}

.parcours__dot:nth-of-type(6) {
  top: 751px;
}

.parcours__dot-end:nth-of-type(7) {
  bottom: -21px;
  left: -7px;
  border: solid var(--color-black);
  border-width: 0 11px 11px 0;
}

.parcours__dot-end:nth-of-type(8) {
  bottom: -39px;
  left: -5px;
  border-width: 0 8px 8px 0;
  border: solid var(--color-black);
}

.parcours__dot-end:nth-of-type(9) {
  bottom: -56px;
  left: -4.5px;
  border-width: 0 4px 4px 0;
}

.left,
.right {
  width: 45%;
}

/* ==========================================
  2.0   |   SKILLS PAGE STYLE
============================================= */
.page-skills {
  background-color: rgb(202, 255, 255);
}

.content__wrapper-skills {
  display: flex;
  justify-content: space-around;
  padding: 2rem 0;
}

.content__wrapper-skills:last-child {
  padding: 0;
}

.page__content-title:nth-of-type(2),
.page__content-title:nth-of-type(3),
.page__content-title:nth-of-type(5) {
  margin-top: 10rem;
}

.page__content-title--last {
  text-align: center;
  margin-top: 15rem;
}

.skills__label {
  width: 45%;
}

.skills__label--full {
  width: 100%;
  text-align: center;
}

.skills__label-version {
  font-style: italic;
  color: var(--color-grey);
  font-size: var(--font-size-tiny);
  letter-spacing: 1px;
}

progress[value] {
  display: block;
  position: relative;
  appearance: none;
  width: 80%;
  height: 6px;
  border: 0;
  --border-radius: 10px;
  border-radius: var(--border-radius);
  counter-reset: progress var(--progress-value);
  --progress-value-string: counter(progress);
  --progress-max-decimal: calc(var(--value, 0) / var(--max, 0));
  --progress-value-decimal: calc(var(--progress-value, 0) / var(--max, 0));
  @supports selector(::-moz-progress-bar) {
    --progress-value-decimal: calc(var(--value, 0) / var(--max, 0));
  }
  --progress-value-percent: calc(var(--progress-value-decimal) * 100%);
  --progress-value-color: hsl(
    calc(
        (
            var(--progress-empty-color-h) +
              (var(--progress-filled-color-h) - var(--progress-empty-color-h)) *
              var(--progress-value-decimal)
          ) * 1deg
      )
      calc(
        (
            var(--progress-empty-color-s) +
              (var(--progress-filled-color-s) - var(--progress-empty-color-s)) *
              var(--progress-value-decimal)
          ) * 1%
      )
      calc(
        (
            var(--progress-empty-color-l) +
              (var(--progress-filled-color-l) - var(--progress-empty-color-l)) *
              var(--progress-value-decimal)
          ) * 1%
      )
  );
  animation: calc(3s * var(--progress-max-decimal)) linear 0.5s 1 normal both
    progress;
}

progress[value]::-webkit-progress-bar {
  background-color: var(--progress-bar-color);
  border-radius: var(--border-radius);
  overflow: hidden;
}

progress[value]::-webkit-progress-value {
  width: var(--progress-value-percent) !important;
  background-color: var(--progress-value-color);
  border-radius: var(--border-radius);
}

progress[value]::-moz-progress-bar {
  width: var(--progress-value-percent) !important;
  background-color: var(--progress-value-color);
  border-radius: var(--border-radius);
}

/* progress[value]::after {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 5px;
  height: 20px;
  position: absolute;
  left: var(--progress-value-percent);
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--progress-value-color);
  border-radius: 50%;
  content: attr(value);
  content: var(--progress-value-string, var(--value));
  font-size: 12px;
  font-weight: 700;
  color: #fff;
} */

@keyframes progress {
  from {
    --progress-value: 0;
  }
  to {
    --progress-value: var(--value);
  }
}

/* ==========================================
  3.0   |   TRANSITIONS
============================================= */
.home__button,
.nav__link,
.nav__link::after {
  transition: all 0.3s ease-in;
}

.home__button:hover,
.nav__link:hover {
  transition: all 0.2s ease-out;
}

/* ==========================================
  4.0   |   MEDIA QUERIES
============================================= */
/* === DESKTOP === */
@media screen and (max-width: 1400px), screen and (max-device-width: 1400px) {
}

/* === LARGE DEVICES === */
@media screen and(max-width: 1200px), screen and (max-device-width: 1200px) {
}

/* === MEDIUM DEVICES === */
@media screen and (max-width: 888px), screen and (max-device-width: 888px) {
  :root {
    --font-size-tiny: 0.8rem;
    --font-size-normal: 1rem;
    --font-size-bigger: 1.2rem;
    --font-size-large: 2rem;
  }

  img {
    object-fit: contain;
    object-position: center;
  }

  html {
    font-size: 100%;
  }

  .header {
    height: 90px;
    padding: 0 var(--gutter-small);
  }

  .button {
    font-size: var(--font-size-tiny);
    width: 11rem;
  }

  /* TRANSITIONS NONE */
  .PLACEHOLDER {
    transition: none;
  }
}

/* === SMARTPHONES === */
@media screen and (max-width: 576px), screen and (max-device-width: 576px) {
  .header__subtitle {
    display: none;
  }

  .header {
    height: 50px;
  }

  .header__title {
    display: flex;
    align-items: center;
    font-size: var(--font-size-large);
  }

  .headband {
    padding: 0.5rem 0;
  }

  .headband__title {
    font-size: var(--font-size-tiny);
  }

  .section__form {
    flex-wrap: wrap;
  }

  .form__address {
    order: -1;
  }

  .form__title {
    font-size: var(--font-size-bigger);
  }

  .form__details {
    margin-top: var(--gutter-default);
  }

  .form__details .form__title {
    margin: 0;
  }

  .form__details,
  .form__address {
    width: 100%;
  }

  .shipment__title {
    font-size: var(--font-size-large);
    margin-bottom: var(--gutter-default);
  }

  .details__options {
    margin-top: var(--gutter-default);
  }

  .infos__more {
    margin-top: var(--gutter-small);
  }

  .label__wrapper-duo {
    margin: 0;
  }

  .footer__title {
    font-size: 0.6rem;
  }
}
